name: Build

on:
  workflow_dispatch:
    inputs:

jobs:
  build-linux-x86_64:
    name: Build - linux x86_64
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup build environment
        run: make setup-dev

      - name: Run tests
        run: make test

      - name: Build all artifacts
        run: make build

  build-macos:
    name: Build - macos
    runs-on: macos-12
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup build environment
        run: make setup-dev

      - name: Run tests
        run: | 
          source ~/.bashrc
          make test

      - name: Build all artifacts
        run: |
          source ~/.bashrc
          make build

  build-windows:
    name: Build - windows
    runs-on: windows-2022
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup build environment
        run: ./hack/windows/setup-dev.ps1

      - name: Run tests
        run: cargo test

      - name: Build all artifacts
        run: cargo build