name: PR/Push

on:
  workflow_dispatch:
    inputs:
  pull_request:
  push:
    branches:
    - main

jobs:
  build-linux-x86_64:
    name: Build - linux x86_64
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - uses: extractions/setup-just@v1

    - name: Setup build environment
      run: just setup-dev

    - name: Run tests
      run: just test

    - name: Build artifacts
      run: just build
