name: PR/Push

on:
  workflow_dispatch:
    inputs:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-linux-x86_64:
    name: Build - linux x86_64
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup build environment
        run: make setup-dev

      - name: Run tests
        run: make test

      - name: Build all artifacts
        run: make build
